@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Merienda:wght@300&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}


body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* Headings and Logo */

header {
    background: #c9fec9;
    height: 75px;
    width: 100%;
}

h1,
h2 {
    font-family: 'Kalam', sans-serif;
    letter-spacing: 4px;
    color: green;
}

#logo {
    float: left;
    font-size: 280%;
    font-weight: 400;
    margin-left: 20px;
}

/* Navigation Links */
#menu {
    font-size: 100%;
    letter-spacing: 2px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Hero image and cover box */
#hero-outer {
    height: 480px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text,
#cover-text h2 {
    color: #fff;
}

#hero-image {
    height: 100vh;
    width: 100%;
    background: url('/assets/images/Backyard Dinner Party-1.jpg') no-repeat center center;
    background-size: cover;
}

#cover-text {
    font-size: 1.5rem;
    font-family: 'Kalam', 'Open Sans';
    letter-spacing: 2px;
    text-align: center;

    width: 600px;
    height: 250px;

    padding: 10px;

    background-color: rgba(11, 156, 49, 0.4);
    border-radius: 20px;

    bottom: 80px;
    left: 10px;

    position: absolute;
}

#why_we_stand_out {
    height: 80px;
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

#reasons {
    height: 450px;
}

#left-about {
    padding-top: 30px;
    width: 35%;
    float: left;
}

.left-about-heading {
    width: 90%;
    float: right;
    clear: both;
    margin-bottom: 50px;
}

#right-about {
    padding-top: 30px;
    width: 35%;
    float: right;
}

.right-about-heading {
    width: 90%;
    float: left;
    clear: both;
    margin-bottom: 50px;
}

#left-about>div {
    margin: 10px;
    background-color: #fafafa;
    text-align: center;
    border-radius: 20px;
    width: 480px;
    height: 150px;
    border: 3px solid #5bb450;
    padding: 10px 10px;
}

#right-about>div {
    margin: 10px;
    background-color: #fafafa;
    text-align: center;
    border-radius: 20px;
    width: 480px;
    height: 150px;
    border: 3px solid #5bb450;
    padding: 10px 10px;
}

.center-about {
    width: 35%;
    margin: 0 auto;
    padding: 70px 30px;
}

#circle-container {
    width: 450px;
    height: 260px;
    margin: 0 auto;
}



.hr2 {
    border: 3px solid #5bb450;
    border-radius: 10px;
    width: 90%;
    margin: 30px auto;
    margin-top: 50px;
}

.section-heading1 {
    text-align: center;
    margin: 20px 0;
    font-size: 2.5rem;
}


#our_services {
    height: 80px;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.hr1 {
    border: 3px solid #5bb450;
    border-radius: 10px;
    width: 90%;
    margin: 30px auto;
    margin-top: 30px;
}

.section-heading {
    text-align: center;
    margin: 20px 0;
    font-size: 2.5rem;
}

/* Section about our services */

#events {
    clear: both;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
}

#events>div {
    margin: 20px;
    background-color: #fafafa;
    width: 340px;
    height: 500px;
    padding: 10px 10px;
    text-align: center;
    border: 5px solid #5bb450;
    border-radius: 20px;
    position: relative;
}

hr {
    border-top: 2px solid #5bb450;
    width: 100%;
    margin: 5px 0;
}

.circle-cover {
    padding: 0;
    width: 245px;
    height: 200px;
    border-radius: 15px;
    position: absolute;
    bottom: 6px;
    left: 5px;
}

#bgd2 {
    background: url('/assets/images/dancing_bride.jpg') no-repeat center center;
}

#bgd3 {
    background: url('/assets/images/catering_services.jpg') no-repeat center center;
}

#bgd4 {
    background: url('/assets/images/candle_cake2.jpg') no-repeat center center;
}

#bgd5 {
    background: url('/assets/images/ejims4.jpg') no-repeat center center;
}

#bgd6 {
    background: url('/assets/images/living-room-decor1.jpg') no-repeat center center;
}

#bgd7 {
    background: url('/assets/images/event-planning1.jpg') no-repeat center center;
    height: 100%;
    border-radius: 5%;
}

/* Footer Styling */

/*
footer {
    height: 100px;
    width: 100%;
}

footer > .social-media-links {
    background: #c9fec9;
    margin-bottom: 50px;
}

#address {
    font-family: 'Kalam', sans-serif;
    margin-top: 20px;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.social-media-links {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.social-media-links li {
    list-style-type: none;
    padding: 50px;
}

.social-media-links i {
    font-size: 200%;
    color: #3a3a3a;
}
*/

footer {
    height: 150px;
    width: 100%;
    background-color: #c9fec9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    justify-self: flex-start;
    margin-left: 25px;
    margin-top: -60px;
}

.footer-middle {
    justify-self: center;
}

#contact li {
    list-style-type: none;
    text-align: center;
    font-family: 'Kalam', sans-serif;
    font-size: x-large;
    font-weight: bold;
}

.footer-right {
    justify-self: flex-end;
    margin-right: 25px;
}

#footer-rt i {
    font-size: 200%;
    color: #3a3a3a;
}

#nav_link {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

#nav_link li {
    margin-left: 25px;
}

#nav_link a {
    text-decoration: none;
}

#footer-rt {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

#footer-rt a {
    margin: 25px;
}

/* Gallery */

#photos {
    clear: both;
    column-count: 4;
    column-gap: 2.5px;
}

#photos>img {
    width: 100%;
    border-radius: 5px;
}

/* Media Queries */