@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Merienda:wght@300&family=Open+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}


body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* Headings and Logo */
h1, h2 {
    font-family: 'Kalam', sans-serif;
    letter-spacing: 4px;
    color: green;
}

#logo {
    float: left;
    font-size: 280%;
    font-weight: 400;
    margin-left: 20px;
}

/* Navigation Links */
#menu {
    font-size: 100%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Hero image and cover box */
#hero-outer {
    height: 480px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text, #cover-text h2 {
    color: #fff;
}

#hero-image {
    height: 100vh;
    width: 100%;
    background: url('/assets/images/Backyard Dinner Party-1.jpg') no-repeat center center;
    background-size: cover;
}

#cover-text {
    font-size: 1.5rem;
    font-family: 'Kalam', 'Open Sans';
    letter-spacing: 2px;
    text-align: center;

    width: 600px;
    height: fit-content;

    padding: 20px;

    background-color: rgba(11, 156, 49, 0.4);
    border-radius: 20px;

    bottom: 80px;
    left: 10px;

    position: absolute;
}

#why_we_stand_out {
    height: 80px;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

#reasons {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

.left-about-heading {
    width: 90%;
    float: right;
    /* line-height: 20px; */
    clear: both;
    margin-bottom: 50px;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

.right-about-heading {
    width: 90%;
    float: left;
    /* line-height: 20px; */
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

#circle-container {
    width: 300px;
    height: 300px;
}




.hr2 {
    border: 5px solid #5bb450;
    border-radius: 10px;
    width: 95%;
    margin: 30px auto;
    margin-top: 30px;
}

.section-heading1 {
    text-align: center;
    margin: 20px 0;
    font-size: 2.5rem;
}


#our_services {
    height: 80px;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.hr1 {
    border: 5px solid #5bb450;
    border-radius: 10px;
    width: 95%;
    margin: 30px auto;
    margin-top: 30px;
}

.section-heading {
    text-align: center;
    margin: 20px 0;
    font-size: 2.5rem;
}

/* Section about our services */

#events {
    clear: both;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#events > div {
    margin: 20px;
    background-color: #fafafa;
    width: 310px;
    height: 480px;
    padding: 10px 10px;
    text-align: center;
    border: 5px solid #5bb450;
    border-radius: 20px;
    position: relative;
}

hr {
    border-top: 2px solid #5bb450;
    width: 100%;
    margin: 5px 0;
}

.circle-cover {
    padding: 0;
    width: 260px;
    height: 200px;
    border-radius: 15px;
    position: absolute;
    bottom: 10px;
    left: 20px;
}

#bgd2 {
    background: url('/assets/images/Wedding_photo.jpg') no-repeat center center;
}

#bgd3 {
    background: url('/assets/images/catering_services.jpg') no-repeat center center;
}

#bgd4 {
    background: url('/assets/images/candle_cake2.jpg') no-repeat center center;
}

#bgd5 {
    background: url('/assets/images/dancing_bride.jpg') no-repeat center center;
}

#bgd6 {
    background: url('/assets/images/living-room-decor1.jpg') no-repeat center center;
}

#bgd7 {
    background: url('/assets/images/candle_cake2.jpg') no-repeat center center;
}