@import url("https://fonts.googleapis.com/css2?family=Kalam&family=Merienda:wght@300&family=Open+Sans:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* Headings and Logo */

header {
    background-color: #c9fec9;
    height: 100px;
    width: 100%;
}

h1,
h2 {
    font-family: "Kalam", sans-serif;
    letter-spacing: 2px;
    color: green;
}

h2 {
    font-size: 115%;
}

#logo {
    float: left;
    font-size: 280%;
    font-weight: 400;
    margin-left: 30px;
}

/* Navigation Links */
#menu {
    font-size: 100%;
    letter-spacing: 2px;
}

#menu,
#logo {
    line-height: 100px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Hero image and cover box */
#hero-outer {
    height: 480px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text,
#cover-text h2 {
    color: #fff;
}

#hero-image {
    height: 480px;
    width: 100%;
    background: url("/assets/images/Backyard Dinner Party-1.jpg") no-repeat center center;
    background-size: cover;
    padding-left: 0;
    padding-right: 0;
}

#cover-text {
    font-size: 110%;
    font-family: "Kalam", "Open Sans";
    letter-spacing: 2px;
    text-align: center;

    width: 500px;
    height: 140px;

    padding: 10px;

    background-color: rgba(11, 156, 49, 0.4);
    border-radius: 20px;

    bottom: 80px;
    left: 10px;

    position: absolute;
}

/* Section about why we stand out */

.section-heading1 {
    text-align: center;
    margin: 20px 0;
    font-size: 2.5rem;
}

#why_we_stand_out {
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 40px;
}

#reasons {
    height: 400px;
}

#left-about {
    padding-top: 40px;
    width: 33%;
    float: left;
}

.left-about-heading {
    width: 90%;
    float: right;
    clear: both;
    margin-bottom: 50px;
}

#right-about {
    padding-top: 40px;
    width: 33%;
    float: right;
}

.right-about-heading {
    width: 90%;
    float: left;
    clear: both;
    margin-bottom: 50px;
}

#left-about>div {
    margin-left: 70px;
    background-color: #fafafa;
    text-align: center;
    border-radius: 15px;
    width: 90%;
    height: 150px;
    border: 3px solid #5bb450;
    padding: 10px 10px;
}

#right-about>div {
    margin-right: 70px;
    background-color: #fafafa;
    text-align: center;
    border-radius: 15px;
    width: 90%;
    height: 150px;
    border: 3px solid #5bb450;
    padding: 10px 10px;
}

.center-about {
    width: 33%;
    margin: 0 auto;
    padding-top: 80px;
}

#circle-container {
    width: 450px;
    height: 260px;
    margin: 0 auto;
}

.hr2 {
    border: 3px solid #5bb450;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
}

.hr1 {
    border: 3px solid #5bb450;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
}

/* Section about our services */

#our_services {
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.section-heading {
    text-align: center;
    margin: 20px 0;
    font-size: 2.5rem;
}

#events {
    clear: both;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#events>div {
    margin: 10px;
    background-color: #fafafa;
    width: 280px;
    height: 460px;
    padding-top: 10px;
    text-align: center;
    border: 5px solid #5bb450;
    border-radius: 15px;
    position: relative;
}

.hr3 {
    border-top: 1px solid #056604;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 10px;
}

.circle-cover {
    width: 250px;
    height: 200px;
    border-radius: 15px;
    position: absolute;
    bottom: 6px;
    left: 10px;
}

#bgd2 {
    background: url("/assets/images/dancing_bride.jpg") no-repeat center center;
}

#bgd3 {
    background: url("/assets/images/catering_services.jpg") no-repeat center center;
}

#bgd4 {
    background: url("/assets/images/candle_cake2.jpg") no-repeat center center;
}

#bgd5 {
    background: url("/assets/images/ejims4.jpg") no-repeat center center;
}

#bgd6 {
    background: url("/assets/images/living-room-decor1.jpg") no-repeat center center;
}

#bgd7 {
    background: url("/assets/images/event-planning1.jpg") no-repeat center center;
    height: 100%;
    border-radius: 5%;
}

/* Footer Styling */

#footer-container {
    clear: both;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#footer-container>div {
    background-color: #c9fec9;
    width: 100%;
    height: 100px;
    padding-top: 10px;
    text-align: center;
    position: relative;
}

#nav_link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
}

#nav_link li {
    margin-left: 30px;
    padding-top: 15px;
}

#nav_link a {
    text-decoration: none;
}

.footer-middle li {
    font-family: "Kalam", sans-serif;
    font-size: large;
    font-weight: bold;
    justify-self: center;
    list-style-type: none;
}

#footer-rt i {
    color: #3a3a3a;
    font-size: 200%;
}

#footer-rt {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    padding-top: 20px;
}

/* Gallery */

#photos {
    clear: both;
    column-count: 4;
    column-gap: 2.5px;
}

#photos>img {
    width: 100%;
    border-radius: 5px;
}

/* Sign up page styling */

.form-section {
    clear: left;
    background: url("/assets/images/Business-people-planning-around-table.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
    width: 100%;
}

.sign-up-form {
    margin: 30px 10% 10px 10%;
    color: #fff;
    background-color: rgba(8, 137, 42, 0.6);
    max-width: 800px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

legend {
    color: #fafafa;
    margin-left: 0px;
    font-family: "Kalam", "Open sans";
    font-size: x-large;
    font-weight: bold;
}

.text-input {
    background: transparent;
    color: #fafafa;
    height: 25px;
    width: 100%;
    margin: 5px 0 20px;
    border: 2px solid #fafafa;
    border-radius: 4px;
}

.text-input:hover {
    border-color: #f16cf1;
}

#message:hover {
    border-color: #f16cf1;
}

#message {
    margin: 10px 0 20px 0;
    width: 100%;
    border: 2px solid #fafafa;
    border-radius: 4px;
    background: transparent;
    color: #fafafa;
}

.form-submit-button {
    background: rgba(8, 137, 42, 0.6);
    border: 2px solid white;
    color: white;
    padding: 10px 10px;
    border-radius: 4px;
    font-family: "Shantell Sans", sans-serif;
    font-size: x-large;
}

.form-submit-button:hover {
    background: white;
    border: 2px solid #f16cf1;
    color: #056608;
    padding: 10px 10px;
    border-radius: 4px;
    font-family: "Shantell Sans", sans-serif;
    font-size: x-large;
}

/* About Us page styling */

.about-img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 4px solid #056608;
}

#about-us-container {
    clear: both;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 600px;
}

.about-us>h1 {
    text-align: center;
    margin-top: 30px;
    font-size: xx-large;
}

h3 {
    font-family: "Open Sans", "sans-serif";
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 2rem;
}

.business-links i {
    font-size: 200%;
    color: #3a3a3a;
}

.business-links {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

/* Media Queries */

/* Responsiveness for medium screen sizes from 1300px wide and down */
@media screen and (max-width: 1350px) {
    #right-about {
        padding-top: 30px;
        width: 30%;
        float: right;
    }

    #left-about {
        padding-top: 30px;
        width: 30%;
        float: left;
    }

    #left-about>div {
        background-color: #fafafa;
        text-align: center;
        border-radius: 15px;
        width: 90%;
        height: 170px;
        border: 3px solid #5bb450;
        padding: 10px 10px;
    }

    #right-about>div {
        background-color: #fafafa;
        text-align: center;
        border-radius: 15px;
        width: 90%;
        height: 170px;
        border: 3px solid #5bb450;
        padding: 10px 10px;
    }

    #circle-container {
        margin-left: -10px;
        width: 450px;
        height: 260px;
    }

    .center-about {
        width: 33%;
        margin: 0 auto;
        padding-top: 80px;
    }

    #events {
        clear: both;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

/* Responsiveness for medium screen sizes from 1100px wide and down */
@media screen and (max-width: 1100px) {
    #nav_link li {
        margin-left: 10px;
        padding-top: 7px;
    }

    .footer-middle li {
        font-size: small;
        font-weight: bold;
        justify-self: center;
    }

    #footer-rt i {
        font-size: 100%;
    }

    #footer-rt {
        padding-top: 10px;
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .about-img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        border: 4px solid #056608;
    }

    .about-us {
        height: 400px;
    }

    #footer-rt i {
        font-size: 100%;
    }
}

/* Responsiveness for medium screen sizes from 850px wide and down */
@media screen and (max-width: 850px) {
    #nav_link li {
        margin-left: 5px;
        padding-top: 5px;
    }

    .footer-middle li {
        font-size: smaller;
        font-weight: bold;
    }

    #footer-rt i {
        font-size: 100%;
    }

    #footer-rt {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        /* justify-content: space-evenly; */
        margin: 15px;
        padding-top: 10px;
    }
}